<div class="container my-3 bg-white">
  <div class="row">
    <div class="col-md-12 main position-relative">
      <video>
        <source src="assets/videos/mov_bbb.mp4" type="video/mp4" />
      </video>
      <div class="overlay position-absolute h-100">
        <a (click)="startVideo('.play')" class="play" *ngIf="!played">
          <i class="fa-solid fa-circle-play"></i>
        </a>
        <a (click)="startVideo('.retry')" class="retry" *ngIf="played">
          <i class="fas fa-redo"></i>
        </a>
      </div>
    </div>
    <div class="bottom col-md-12 d-flex justify-content-between">
      <div class="left">
        <h3>{{ video?.name }}</h3>
        <p><span>2,210,154 </span> views</p>
      </div>
      <div class="right d-flex">
        <div class="features d-flex">
          <img src="assets/icons/addtolist.png" alt="" />
          <p>add to list</p>
        </div>
        <div class="features d-flex">
          <i class="fa-solid fa-share-nodes"></i>
          <p>share</p>
        </div>
      </div>
    </div>

    <ng-container *ngIf="played">
      <div class="col-md-12 questions">
        <h2>Questions</h2>
        <div
          class="content my-3 p-3 rounded-1"
          *ngFor="let question of questions"
        >
          <h3>{{ question.question }}</h3>
          <div class="choises row w-100">
            <div class="choise col-md-6 mb-3">
              <a (click)="checkMcqAnswer('a')" appClickStopPropagation>
                A) <span>{{ question.answer1 }}</span>
              </a>
            </div>
            <div class="choise col-md-6">
              <a (click)="checkMcqAnswer('b')" appClickStopPropagation>
                B) <span>{{ question.answer2 }}</span>
              </a>
            </div>
            <div class="choise col-md-6">
              <a (click)="checkMcqAnswer('c')" appClickStopPropagation>
                C) <span>{{ question.answer3 }}</span>
              </a>
            </div>
            <div class="choise col-md-6">
              <a (click)="checkMcqAnswer('d')" appClickStopPropagation>
                D) <span>{{ question.answer4 }}</span>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-12 speeking mb-3">
        <h2>Speaking test</h2>
        <p class="text-secondary fs-12">
          test your speaking skill by clicking the mic and say the sentence
        </p>
      </div>

      <div
        class="col-md-12 qustion speeking position-relative d-flex justify-content-between my-3 rounded-1"
        *ngFor="let sentence of sentences"
      >
        <p appClickStopPropagation (click)="checkSpeakingAnswer()">
          {{ sentence.sentence }}
        </p>
        <i class="fa-solid fa-microphone" (click)="startService()"></i>
      </div>
    </ng-container>
  </div>
  <p>{{text}}</p>
  <p>{{test}}</p>
  <button class="btn btn-danger me-3" (click)="startService()">start</button>
  <button class="btn btn-success" (click)="stop()">stop</button>
  <div class="d-flex gap-2">
    <p>
      <span *ngFor="let word of test;let i = index" [ngClass]="{'text-danger': word != text[i] }">{{text[i] + ' ' }}</span>
    </p>
    <i class="fa-solid fa-check text-success" *ngIf="sentenceISCorrect"></i>
    <i class="fa-solid fa-x text-danger" *ngIf="!sentenceISCorrect && this.text"></i>
  </div>
  

</div>
